<h1>Welcome to the Abbott Question API</h1>

<h3>These are our total numbers for our endpoints: </h3>

<p>Total Number of Users: <%= @user_count %></p>
<p>Total Number of Questions: <%= @question_count %></p>
<p>Total Number of Answers: <%= @answer_count %></p>
<p>Total Number of Requests Made by Tenants: <%= @request_total %></p>
